.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 16px;
    gap: 20px;
}