@import "../node_modules/@radts/reactjs/dist/style.css";

@font-face {
    font-family: 'Segoe UI';
    src: url('./assets/fonts/Segoe_UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('./assets/fonts/Segoe_UI_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('./assets/fonts/Segoe_UI_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('./assets/fonts/Segoe_UI_Bold_Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}